* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

.ol_block {
  position: fixed;
  background-color: rgb(85, 85, 85);
  width: 15%;
  color: aliceblue;
  height: 100%;
}
.ol_block li {
  padding-left: 12%;
  padding-top: 12%;
  padding-bottom: 12%;
  border: 1px solid black;
}

.grafic {
  margin-left: 15%;
  width: 35%;
  height: 300px;
  background-color: rgb(204, 204, 204);
}
.loads {
  margin-left: 12px;
  width: 35%;
  height: 300px;
  background-color: rgb(204, 204, 204);
}

.blocks {
  padding-top: 5%;
  padding-left: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(255, 255, 255);
}
.recent {
  margin-top: 22px;
  margin-left: 23%;
  width: 65%;
  height: 300px;
  background-color: rgb(204, 204, 204);
}
