* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.rela {
  position: sticky;
  top: 0px;
}
.ital {
  font-style: italic;
  padding-bottom: 22px;
}

.ol_base {
  width: 1500px;
  padding-left: 223px;
  display: flex;
  background-color: rgb(230, 162, 36);
  margin-left: auto;
  margin-right: auto;
}
.ol_base li {
  width: 150px;
  height: 50px;
  text-align: center;
  padding: 15px;
  position: relative;
}
.ol_base li a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(5, 1, 1);
}
.ol_Team {
  top: 100%;
  left: 0;
  position: absolute;
  background-color: rgb(161, 161, 161);
  visibility: hidden;
}
.ol_base li:hover {
  background-color: rgba(170, 120, 28, 0.795);
}
.ol_base li:hover > .ol_Team {
  visibility: visible;
}

hr {
  margin-top: 20px;
  margin-bottom: 8px;
}
.block_tabl p {
  font-size: 20px;
}
.block_tabl {
  margin-bottom: 22px;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.one_blcok {
  padding-left: 0;
  padding-top: 55px;
  width: 900px;
}

.image_block {
  width: 100px;
  padding-top: 110px;
  padding-left: 100px;
}
.two_block {
  padding-left: 0;
  background-color: rgb(184, 184, 184);
}
.two_block td:first-child {
  font-weight: bold;
  padding-right: 30px;
  text-align: start;
}
.two_block td {
  font-size: 18px;
  padding-left: 22px;
  padding-top: 22px;
  padding-bottom: 5px;
}
.two_block img {
  width: 250px;
}
.h2_heroes {
  font-size: 22px;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 111px;
}
.foot_block_heroes {
  border: 1px solid rgb(158, 158, 158);
}
.foot_block_heroes td {
  padding-left: 22px;
  text-align: center;
}
.foot_block_heroes a {
  text-decoration: none;
  color: black;
  font-size: 22px;
}
