*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    list-style-type: none;
}
.ol_base{
width: 100%;
word-wrap:break-word;
display: flex;
background-color: rgba(230, 162, 36, 0.795);
padding-left:400px;
position: fixed;

}
.ol_base li{
    width: 150px;
    height: 50px;
    text-align: center;
    padding: 15px;
    word-wrap:break-word;
    position: relative;
    
    
}
.ol_base li a{
    font-size: 20px;
text-decoration: none;
color: rgb(5, 1, 1);

}
.ol_Team{
    top: 100%;
    left: 0;
    position: absolute;
    background-color: rgb(161, 161, 161);
    visibility:hidden;
}
.ol_base li:hover{
    background-color:rgba(170, 120, 28, 0.795) ;
}
.ol_base li:hover> .ol_Team{
    visibility:visible;
    
}

.rela{
    position: relative;
}
hr{
    margin-top: 20px;
    margin-bottom: 8px;
}
.base_block{
    top:70px;
    position: relative;
    
}
.one_blcok{
    margin-left: 300px;
    width: 800px;
    min-width: 900px;
    background-color: rgb(255, 255, 255);
    position:absolute;
    z-index: -1;
}
.ital{
    font-style: italic;
    padding-bottom: 22px;
}
.one_blcok p{
    padding-bottom: 12px;
   text-align: justify;
   
}
.two_block{
    width:250px;
    height: 400px;
    padding-left: 25px;
    padding-top: 10px;
    background-color: rgb(226, 226, 226);
    position: absolute;
    left: 1250px;
    right: 200px;
    z-index: -1;
}
.two_block p span{
    font-weight: bold;
    padding-left: 5px;

}