* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  margin-left: auto;
  margin-right: auto;
}
.ol_base {
  width: 100%;
  word-wrap: break-word;
  display: flex;
  background-color: rgba(230, 162, 36, 0.815);
  padding-left: 400px;
  position: fixed;
}
.ol_base li {
  width: 150px;
  height: 50px;
  text-align: center;
  padding: 15px;
  word-wrap: break-word;
  position: relative;
}
.ol_base li a {
  font-size: 20px;
  text-decoration: none;
  color: rgb(5, 1, 1);
}
.ol_Team {
  top: 100%;
  left: 0;
  position: absolute;
  background-color: rgb(161, 161, 161);
  visibility: hidden;
}
.ol_base li:hover {
  background-color: rgba(170, 120, 28, 0.795);
}
.ol_base li:hover > .ol_Team {
  visibility: visible;
}

hr {
  margin-top: 20px;
  margin-bottom: 8px;
}
.base_block {
  padding-top: 100px;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
.one_blcok {
  width: 800px;
  min-width: 900px;
  background-color: rgb(255, 255, 255);
  z-index: -1;
}
.ital {
  font-style: italic;
  padding-bottom: 22px;
}
.one_blcok p {
  padding-bottom: 12px;
  text-align: justify;
}

.two_block {
  display: flex;
  width: 20px;
  background-color: rgb(185, 185, 185);
  margin-top: 0px;
}
.two_block td:first-child {
  font-weight: bold;
  padding-right: 30px;
  text-align: start;
}
.two_block td {
  font-size: 18px;
  padding-left: 15px;
  padding-top: 22px;
  padding-bottom: 5px;
}
.two_block img {
  width: 250px;
}
