* {
  box-sizing: border-box;
}
.lor {
  height: 1200px;
  padding-top: 100px;
}
.block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
@keyframes show-book {
  from {
    transform: rotate(-10deg) translateY(1200px);
  }
  to {
    transform: rotate(-10deg) translateY(-20px);
  }
}
.book {
  width: 200px;
  transform: rotate(-10deg) translateY(1200px);
  animation: show-book 2s linear 0.5s;
  animation-fill-mode: forwards;
}
@keyframes show-calic {
  from {
    transform: rotate(-30deg) translateY(1200px);
  }
  to {
    transform: rotate(-30deg) translateY(-20px);
  }
}
.calc {
  width: 80px;
  transform: rotate(-30deg) translateY(-1200px);
  animation: show-calic 2s;
  animation-fill-mode: forwards;
}
@keyframes show-pallete {
  from {
    transform: rotate(200deg) translateY(-1200px);
  }
  to {
    transform: rotate(200deg) translateY(20px);
  }
}

.pallete {
  width: 80px;
  transform: rotate(200deg) translateY(1200px);
  animation: show-pallete 2s linear 1.5s;
  animation-fill-mode: forwards;
}
@keyframes show-paper {
  from {
    transform: rotate(10deg) translateY(1200px);
  }
  to {
    transform: rotate(10deg) translateY(-20px);
  }
}
.paper {
  width: 200px;
  transform: rotate(10deg) translateY(-1200px);
  animation: show-paper 2s linear 1s;
  animation-fill-mode: forwards;
}
@keyframes show-pencil {
  from {
    transform: rotate(90deg) translateX(1200px);
  }
  to {
    transform: rotate(90deg) translateX(50px);
  }
}
.pencil {
  width: 80px;
  transform: rotate(90deg) translateX(1500px);
  animation: show-pencil 2s linear 2s;
  animation-fill-mode: forwards;
}
