html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
.cont {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.header {
  background-color: red;
  padding: 24px;
}
.main {
  background-color: rgb(216, 173, 173);
  padding: 24px;
  flex-grow: 1;
}
.footer {
  background-color: blueviolet;
  padding: 24px;
}
