
.first_block{
    padding: 0;
    width: 1000px;
    height:250px;
    margin: 0px;
    transition: all 0.3s;
    display:flex;
    
}
.content_for_text{
    width: 500px;
    height: 250px;
    background-color: rgb(238, 238, 238);
    margin: 0;
    
}
.car{
   font-size: 80px;
   padding: 80px;
}

.image{
    margin: 0;
    overflow: hidden;
}
.first_block:hover{
  filter: brightness(40%);
}
.image img {
    transition: all 1s ease-out;
    }
    
    .first_block:hover> .image img{
    transform: scale(1.5);
    }