body {
  background-color: bisque;
}
p {
  width: 70%;
}
.base_cat {
  padding-left: 2rem;
  font-size: 30px;
  margin-bottom: 1px;
}
.one_block {
  display: flex;
  padding: 2rem;
  flex-wrap: wrap;
  
}
.cat {
  margin: 12px;
  width: 200px;
  height: 200px;
  background-color: black;
}

@media screen and (max-width: 1200px){
  
}