*{
    margin: 0;
    padding: 0;
}
main{
    display:flex;
}
.base-blcok{
    position: fixed;
    top: 0;
    
    
}
.one_block{
position: relative;
width:100px;
height: 600px;
background-color: rgb(165, 164, 164);

}
.two_block{
    padding-top: 70px;
    background-color: rgb(165, 164, 164);
    left: 100%;
    top: 0;
    position: absolute;
    visibility:hidden;
    
}
.menu{
    padding:22px;
    font-size: 22px;
    color: rgb(255, 255, 255);
}
.two_block li{
    padding-right: 22px;
    padding-top: 37px;
    list-style-type: none;
    
}
.two_block li a{
    text-decoration: none;
    vertical-align:45px;
    padding-left: 20px;
    font-size:22px;
    color: rgb(255, 255, 255);
}
img {
    width: 100px;
  }

.base-blcok:hover> .two_block{
    visibility:visible;
  }


.base_text {
      padding-top:50px ;
      padding-left: 200px;
      padding-right: 200px;
  }