*{
    margin: 0;
    padding: 0;
}
.base-blcok{
  width: 100%;
  height: 100%;
}

.block_menu{
  background-color: rgb(160, 160, 160) ;
}
.block_menu li {
  height: 100%;
    list-style-type: none;
    font-size: 40px;
    color: #ffffff;
  }
  .block {
    width: 400px;
    height: 100%;
    background-color: rgb(160, 160, 160);
    padding-left: 5px;
  }
  
  .none {
    text-decoration: none;
    color: #ffffff;
  }
  .block:hover {
    background-color: rgb(39, 39, 39);
  }
  
  img {
    width: 100px;
  }
  .vertical {
    vertical-align: 100%;
  }
  .one_block{
    position: fixed;
    width: 105px;
    height: 100%;
    overflow: hidden;
  }
  .one_block:hover{
    overflow: visible;
  }
  .base{
    display: flex;
  }
  .menu{
    padding-left: 22px;
    font-size: 22px;

  }
  .block1{
    width: 400px;
    background-color: rgb(160, 160, 160);
    padding-left: 5px;
  }
.base_text {
      padding-top:50px ;
      padding-left: 200px;
      padding-right: 200px;
  }