.block_menu li {
  list-style-type: none;
  font-size: 40px;
  color: #ffffff;
}
.block {
  width: 400px;
  line-height: 2rem;
  background-color: rgb(160, 160, 160);
  padding-left: 40px;
}
.none {
  text-decoration: none;
  color: #ffffff;
}
.block:hover {
  background-color: rgb(39, 39, 39);
  
}

img {
  width: 100px;
}
.vertical {
  vertical-align: 100%;
}
